@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

$bg-color			: tomato;
$text-color		: #fff;
$font-family	: 'Roboto', sans-serif;
$font-weight	: 500;
$font-size		: 24px;
$thed-font		: 'Prompt', sans-serif;


